<section id="blue">
    <div class="container py-5">
        <h1 class="text-center">Blue personality style</h1>
        <div class="row pt-5">
            <div class="col-12 col-md-8">
                <p>
                    Blue personality types place significance on working properly within preceding rules to ensure accuracy and quality.
                    Their goals in work and projects may seem overly pendatic to others, such as creating and modifiying rules to further ensure
                    quality work with least amount of error, but to themselves it is the right way to work no matter the circumstances. People with 
                    a lot of blue personality tend to be very result-oriented and exact with their work while taking their time to ensure quality,
                    they also tend to be more introverted and could very much prefer to work alone if possible. Common trait among blue types is their 
                    tedency to be straight-spoken, especially about issues in work, with no regard to the feelings of those who recieve it. Firmly standing behind
                    what they say and believe blue types might seem stubborn, but in their mind, the right and correct way must be preversed no matter
                    external opinions, only buldging when addressed by someone with higher authority or when presented hard facts.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <img class="mx-auto d-block" src="{{url_for('static', filename='images/blue.png')}}">
            </div>
        </div>


        <div class="row pt-5">
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/challenges.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-1">
                        Challenges
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Working closely with others and compromising
                    </li>
                    <li>
                        Quick decisions and not overanalyzing the choices
                    </li>
                    <li>
                        Socializing with other peers
                    </li>
                    <li>
                        Not pointing out flaws in others work
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/goals.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-2">
                        Goals
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Be precise, correct, and produce quality work
                    </li>
                    <li>
                        Obtain expertise and knowledge in their field
                    </li>
                    <li>
                        Gain autonomy and self-sufficiency in their occupation
                    </li>
                    <li>
                        Stick to the rules and processes proven to work
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/angers.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-2">
                        Annoyments
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Forced to participate in social gatherings and social meetings
                    </li>
                    <li>
                        Working with insufficient information and data
                    </li>
                    <li>
                        Getting emails with lots of formal and unnecessary wording
                    </li>
                    <li>
                        Having too tight of deadline with not enough time for quality work
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>