<section id="yellow">
    <div class="container py-5">
        <h1 class="text-center">Yellow personality style</h1>
        <div class="row pt-5">
            <div class="col-12 col-md-8">
                <p>
                    Red personality types are dynamic and driven individuals. They have goals in life that others may
                    have
                    difficult reaching,
                    partly because the goals are near impossible set, but also because they always strive forward,
                    always push
                    themselves harder, and almost never give up.
                    People with a lot of red personality are very result-oriented, extroverted, and likes to take on
                    challenges. A
                    common trait among red types is that they
                    tend to rather outspoken, saying it exactly how it is. Red types usually firmly stand behind what
                    they
                    believe, hard to buldge from their standpoint
                    unless they themselves change their mind on their own. And least but perhaps biggest feature of red
                    types
                    is
                    their need for competivness, always in the
                    need to be the best in whatever they are currently interested in.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <img class="mx-auto d-block" src="{{url_for('static', filename='images/yellow.png')}}">
            </div>
        </div>


        <div class="row pt-5">
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/challenges.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-1">
                        Challenges
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Sticking to long-term routines
                    </li>
                    <li>
                        Focusing on the details
                    </li>
                    <li>
                        Showing patience with people and processes
                    </li>
                    <li>
                        Working with limited authority and autonomy
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/goals.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-2">
                        Goals
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Taking on new challenges and opportunitues
                    </li>
                    <li>
                        Deligating work and making decisions
                    </li>
                    <li>
                        Creating tangible and measurable results
                    </li>
                    <li>
                        Independance from unwanted management
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/angers.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-2">
                        Annoyments
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Waiting for peers to catch up on their tasks
                    </li>
                    <li>
                        Having little control over work pace and enviroment
                    </li>
                    <li>
                        Having their opinions on matters disregarded
                    </li>
                    <li>
                        Not getting credit for the work they have done
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>