<section id="yellow">
    <div class="container py-5">
        <h1 class="text-center">Yellow personality style</h1>
        <div class="row pt-5">
            <div class="col-12 col-md-8">
                <p>
                    Yellow personality types tend to more focus on influencing and induce others to shape the enviroment.

                    Their goals are aligned with factors like social recognition, group activites, and relationships.
                    Many find yellow types to be easy to approach and fairly open.
                    Frequently involved with other people and making sure they feel comfortable in new groups.

                    Taking action, expressing enthusiasm, focusing on collaboration is common for yellow types.
                    Others would find yellow types to be trustworthy, amiable, optimistic, and persuasive.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <img class="mx-auto d-block" src="{{url_for('static', filename='images/yellow.png')}}">
            </div>
        </div>


        <div class="row pt-5">
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/challenges.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-1">
                        Challenges
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Staying focused for longer periods and follow through fully
                    </li>
                    <li>
                        Keeping themself organized and resisting distractions
                    </li>
                    <li>
                        Being frank with people and making important decisions that makes one look bad
                    </li>
                    <li>
                        Limiting time with people and putting time into tasks
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/goals.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-2">
                        Goals
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Making friendships and interacting with large groups of diverse people 
                    </li>
                    <li>
                        Getting peers approval and stirring up excitment
                    </li>
                    <li>
                        Spontaneously pursuing new ideas and projects
                    </li>
                    <li>
                        Being previously and currently involved in many things and groups 
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/angers.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-2">
                        Annoyments
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Spending a lot of time analysing and reasearching the root of a problem
                    </li>
                    <li>
                        Creating and following strict procedures and rules for people to follow
                    </li>
                    <li>
                        Being ignored, rejected, or recieving disapproval from peers
                    </li>
                    <li>
                        Forced to use slow and formal ways of communication
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>