<section id="green">
    <div class="container py-5">
        <h1 class="text-center">Green personality style</h1>
        <div class="row pt-5">
            <div class="col-12 col-md-4">
                <img class="mx-auto d-block" src="{{url_for('static', filename='images/green.png')}}">
            </div>
            <div class="col-12 col-md-8">
                <p>
                    Green personality types are said to be the most common in the world,
                    they are characterised by co-operation, sincere recognition, and chances to be of help.
                </p>
            </div>
        </div>


        <div class="row pt-5">
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/challenges.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-1">
                        Challenges
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Sticking to long-term routines
                    </li>
                    <li>
                        Focusing on the details
                    </li>
                    <li>
                        Showing patience with people and processes
                    </li>
                    <li>
                        Working with limited authority and autonomy
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/goals.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-2">
                        Goals
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Taking on new challenges and opportunitues
                    </li>
                    <li>
                        Deligating work and making decisions
                    </li>
                    <li>
                        Creating tangible and measurable results
                    </li>
                    <li>
                        Independance from unwanted management
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/angers.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-2">
                        Annoyments
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Waiting for peers to catch up on their tasks
                    </li>
                    <li>
                        Having little control over work pace and enviroment
                    </li>
                    <li>
                        Having their opinions on matters disregarded
                    </li>
                    <li>
                        Not getting credit for the work they have done
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>