<section id="green">
    <div class="container py-5">
        <h1 class="text-center">Green personality style</h1>
        <div class="row pt-5">
            
            <div class="col-12 col-md-4">
                <img class="mx-auto d-block" src="{{url_for('static', filename='images/green.png')}}">
            </div>

            <div class="col-12 col-md-8">
                <p>
                    Green personality types are said to be the most common in the world,
                    they are characterised by co-operation, sincere recognition, and chances to be of help.

                    They emphasize on giving support, collaboration, receiving support, whilst maintaining 
                    clear stability both for both themselves and their relations. Others would illustrate green
                    types as tranquil, stoic, reliable, conscious, steady, and dependable. 
                </p>
            </div>
        </div>


        <div class="row pt-5">
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/challenges.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-1">
                        Challenges
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Confronting others
                    </li>
                    <li>
                        Taking feedback and critisim objectively
                    </li>
                    <li>
                        Quick adaption and multi-tasking
                    </li>
                    <li>
                        Being direct and decisive
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/goals.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-2">
                        Goals
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Supporting the group to accomplish tasks
                    </li>
                    <li>
                        Promoting teamwork and cooperation
                    </li>
                    <li>
                        Keeping the status quo as it is without any changes 
                    </li>
                    <li>
                        Pursue understanding and cohesion
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{url_for('static', filename='images/angers.svg')}}"
                    class="d-block mx-auto filter-white w-50" />
                <h1>
                    <p class="text-center pt-2">
                        Annoyments
                    </p>
                </h1>
                <ul class="ms-5 list-dots">
                    <li>
                        Constantly working on a dense timeline 
                    </li>
                    <li>
                        Making decisions in place of others without their input
                    </li>
                    <li>
                        Working alone or competing alone
                    </li>
                    <li>
                        Assigned tasks with vauge instructions
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>