<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globalstyle.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block head %}{% endblock %}
</head>

<body class="body">
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark border-bottom border-green dark-bg d-flex justify-content-between">
        
        <div class="ms-3">
            <h6>
                <a class="navbar-brand fs-1" href="{{url_for('index') }}">
                    <img src="{{ url_for('static', filename='favicon64.ico') }}"
                        style="max-width:100%; max-height:100%;">
                    Four personality quiz</a>
            </h6>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 5px;">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse me-3" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto text-center" id="navBar">
                <li class="nav-item">
                    <a class="nav-link text-light fs-3 me-5" href="{{url_for('quiz')}}">Take the quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fs-3 me-5" href="{{url_for('personalities')}}">Personality types</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>

</body>

</html>