<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globalstyle.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block head %}{% endblock %}
</head>
<body class="body">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark border-bottom border-green dark-bg">
        <div class="container-fluid">
          <h6><a class="navbar-brand text-light" href="{{url_for('index') }}">Four color quiz</a></h6>
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-light" href="{{url_for('quiz') }}">Do quiz</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#technologies">Personalities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#projects">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% block body %}{% endblock %}
</body>
</html>