{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title> Four color test</title>
{% endblock %}

{% block body %}
<script>
  function initFingerprintJS() {
    // Initialize an agent at application startup.
    const fpPromise = FingerprintJS.load()

    // Get the visitor identifier when you need it.
    fpPromise
      .then(fp => fp.get())
      .then(result => {
        // This is the visitor identifier:
        const visitorId = result.visitorId
        console.log(visitorId)
      })
  }
</script>
<script
  async
  src="//cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"
  onload="initFingerprintJS()"
></script>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="container">
        <img src="{{url_for('static', filename='images/cover_image_transparent.png')}}">
        <div class="inner cover">
          <h1 class="cover-heading">Most Quizzes That Determine Personality Abide By Man-Made Rules. Take One That Is Entirely Data-Driven.</h1>
          <p class="lead">Dynamically determine personality using machine learning algorithm based on current Internet data.</p>
          <br>
          <p>What kind of personality do you encompass, and what can it tell about yourself? These questions have pioneered countless online personality quizzes. 
            But these quizzes are mere meretricious, built on simple rules. You can take a presonality quiz backed by data.</p>
          <p class="lead">
            <a href="{{url_for('quiz') }}" class="btn btn-lg btn-default">Do the quiz</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}