{% extends 'base.html' %}

{% block head %}
    <title>Personalities</title>
{% endblock %}

{% block body %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="container">
          <p>Personalities</p>
          <section id="personality_green" class="py-5" style="height: 1000px; padding-top: 150px; ">
            <h1 class="display-1 fw-bold">GREEN</h1>
          </section>
          <section id="personality_red" class="py-5" style="height: 1000px; padding-top: 150px; ">
            <h1 class="display-1 fw-bold">RED</h1>
          </section>
          <section id="personality_blue" class="py-5" style="height: 1000px; padding-top: 150px; ">
            <h1 class="display-1 fw-bold">BLUE</h1>
          </section>
          <section id="personality_yellow" class="py-5" style="height: 1000px; padding-top: 150px; ">
            <h1 class="display-1 fw-bold">YELLOW</h1>
          </section>
      </div>
    </div>
  </div>
{% endblock %}