{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/personalities.css')}}">
<title>Personalities</title>
{% endblock %}

{% block body %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <section id="red">
      <div class="container py-5">

        <h1>Red personality style</h1>

        <p>
          Red personality types are dynamic and driven individuals. They have goals in life that others may have
          difficult reaching,
          partly because the goals are near impossible set, but also because they always strive forward, always push
          themselves harder, and almost never give up.
          People with a lot of red personality are very result-oriented, extroverted, and likes to take on challenges. A
          common trait among red types is that they
          tend to rather outspoken, saying it exactly how it is. Red types usually firmly stand behind what they
          believe, hard to buldge from their standpoint
          unless they themselves change their mind on their own. And least but perhaps biggest feature of red types is
          their need for competivness, always in the
          need to be the best in whatever they are currently interested in.
        </p>

        <div class="row">
          <div class="col border-end border-dark border-4">
            <img src="{{url_for('static', filename='images/challenges.svg')}}" class="d-block mx-auto filter-white w-50"
              data-bs-toggle="tooltip" data-bs-placement="top"/>
              <h1>
                <p class="text-center">
                  Challenges
                </p>
              </h1>
          </div>
          <div class="col border-end border-dark border-4">
            <img src="{{url_for('static', filename='images/goals.svg')}}" class="d-block mx-auto filter-white w-50"
            data-bs-toggle="tooltip" data-bs-placement="top"/>
            <h1>
              <p class="text-center">
                Goals
              </p>
            </h1>
          </div>
          <div class="col">
            <img src="{{url_for('static', filename='images/angers.svg')}}" class="d-block mx-auto filter-white w-50"
            data-bs-toggle="tooltip" data-bs-placement="top"/>
            <h1>
              <p class="text-center">
                Annoyments
              </p>
            </h1>
          </div>
        </div>

      </div>
    </section>
    <section id="yellow">
      <div class="container py-5">

        <h1>Yellow</h1>

        <p>
          Red personality types are dynamic and driven individuals. They have goals in life that others may have
          difficult reaching,
          partly because the goals are near impossible set, but also because they always strive forward, always push
          themselves harder, and almost never give up.
          People with a lot of red personality are very result-oriented, extroverted, and likes to take on challenges. A
          common trait among red types is that they
          tend to rather outspoken, saying it exactly how it is. Red types usually firmly stand behind what they
          believe, hard to buldge from their standpoint
          unless they themselves change their mind on their own. And least but perhaps biggest feature of red types is
          their need for competivness, always in the
          need to be the best in whatever they are currently interested in.
        </p>

        <div class="row">
          <div class="col border-end border-dark border-4">
            <img src="{{url_for('static', filename='images/challenges.svg')}}" class="d-block mx-auto filter-white w-50"
              data-bs-toggle="tooltip" data-bs-placement="top"/>
              <h1>
                <p class="text-center">
                  Challenges
                </p>
              </h1>
          </div>
          <div class="col border-end border-dark border-4">
            <img src="{{url_for('static', filename='images/goals.svg')}}" class="d-block mx-auto filter-white w-50"
            data-bs-toggle="tooltip" data-bs-placement="top"/>
            <h1>
              <p class="text-center">
                Goals
              </p>
            </h1>
          </div>
          <div class="col">
            <img src="{{url_for('static', filename='images/angers.svg')}}" class="d-block mx-auto filter-white w-50"
            data-bs-toggle="tooltip" data-bs-placement="top"/>
            <h1>
              <p class="text-center">
                Annoyments
              </p>
            </h1>
          </div>
        </div>

      </div>
    </section>
    <section id="green">
      <div class="container py-5">

        <h1>Green</h1>

        <p>
          Red personality types are dynamic and driven individuals. They have goals in life that others may have
          difficult reaching,
          partly because the goals are near impossible set, but also because they always strive forward, always push
          themselves harder, and almost never give up.
          People with a lot of red personality are very result-oriented, extroverted, and likes to take on challenges. A
          common trait among red types is that they
          tend to rather outspoken, saying it exactly how it is. Red types usually firmly stand behind what they
          believe, hard to buldge from their standpoint
          unless they themselves change their mind on their own. And least but perhaps biggest feature of red types is
          their need for competivness, always in the
          need to be the best in whatever they are currently interested in.
        </p>

        <div class="row">
          <div class="col border-end border-dark border-4">
            <img src="{{url_for('static', filename='images/challenges.svg')}}" class="d-block mx-auto filter-white w-50"
              data-bs-toggle="tooltip" data-bs-placement="top"/>
              <h1>
                <p class="text-center">
                  Challenges
                </p>
              </h1>
          </div>
          <div class="col border-end border-dark border-4">
            <img src="{{url_for('static', filename='images/goals.svg')}}" class="d-block mx-auto filter-white w-50"
            data-bs-toggle="tooltip" data-bs-placement="top"/>
            <h1>
              <p class="text-center">
                Goals
              </p>
            </h1>
          </div>
          <div class="col">
            <img src="{{url_for('static', filename='images/angers.svg')}}" class="d-block mx-auto filter-white w-50"
            data-bs-toggle="tooltip" data-bs-placement="top"/>
            <h1>
              <p class="text-center">
                Annoyments
              </p>
            </h1>
          </div>
        </div>

      </div>
    </section>
    <section id="blue">
      <div class="container py-5">

        <h1>Blue</h1>

        <p>
          Red personality types are dynamic and driven individuals. They have goals in life that others may have
          difficult reaching,
          partly because the goals are near impossible set, but also because they always strive forward, always push
          themselves harder, and almost never give up.
          People with a lot of red personality are very result-oriented, extroverted, and likes to take on challenges. A
          common trait among red types is that they
          tend to rather outspoken, saying it exactly how it is. Red types usually firmly stand behind what they
          believe, hard to buldge from their standpoint
          unless they themselves change their mind on their own. And least but perhaps biggest feature of red types is
          their need for competivness, always in the
          need to be the best in whatever they are currently interested in.
        </p>

        <div class="row">
          <div class="col border-end border-dark border-4">
            <img src="{{url_for('static', filename='images/challenges.svg')}}" class="d-block mx-auto filter-white w-50"
              data-bs-toggle="tooltip" data-bs-placement="top"/>
              <h1>
                <p class="text-center">
                  Challenges
                </p>
              </h1>
          </div>
          <div class="col border-end border-dark border-4">
            <img src="{{url_for('static', filename='images/goals.svg')}}" class="d-block mx-auto filter-white w-50"
            data-bs-toggle="tooltip" data-bs-placement="top"/>
            <h1>
              <p class="text-center">
                Goals
              </p>
            </h1>
          </div>
          <div class="col">
            <img src="{{url_for('static', filename='images/angers.svg')}}" class="d-block mx-auto filter-white w-50"
            data-bs-toggle="tooltip" data-bs-placement="top"/>
            <h1>
              <p class="text-center">
                Annoyments
              </p>
            </h1>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>
{% endblock %}