{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
{% endblock %}

{% block body %}
<form method="post">
<div class="container my-5">
    <div class="ml-sm-5 pl-sm-5 my-2">
        <div class="py-2 h5"><b>Q (x/y). Which role do you take in a project?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3 options">
            <label class="options">Leader role
                <input type="radio" name="role" value="1"> <span class="checkmark"></span> </label>
            <label class="options">The listener
                <input type="radio" name="role" value="2"> <span class="checkmark"></span> </label>
            <label class="options">Idea creator
                <input type="radio" name="role" value="3"> <span class="checkmark"></span> </label>
            <label class="options">Taking notes
                <input type="radio" name="role" value="4"> <span class="checkmark"></span> </label>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="ml-sm-5 pl-sm-5 my-2">
        <div class="py-2 h5"><b>Q (x/y). What would your friends describe you as?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3 options">
            <label class="options">Likes company and comes up with fun stuff
                <input type="radio" name="friends" value="1"> <span class="checkmark"></span> </label>
            <label class="options">Accurate, picky, and always on time
                <input type="radio" name="friends" value="2"> <span class="checkmark"></span> </label>
            <label class="options">Purposeful and not afraid to say what you think
                <input type="radio" name="friends" value="3"> <span class="checkmark"></span> </label>
            <label class="options">Caring and always stands up
                <input type="radio" name="friends" value="4"> <span class="checkmark"></span> </label>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="ml-sm-5 pl-sm-5 my-2">
        <div class="py-2 h5"><b>Q (x/y).How do you speak in front of a group?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3 options">
            <label class="options">I gesture and move a lot
                <input type="radio" name="speak" value="1"> <span class="checkmark"></span> </label>
            <label class="options">I am gathered and speak in a calm and harmonious voice
                <input type="radio" name="speak" value="2"> <span class="checkmark"></span> </label>
            <label class="options">I speak with pressure in my voice and am not afraid to ask questions to the group
                <input type="radio" name="speak" value="3"> <span class="checkmark"></span> </label>
            <label class="options">I prefer to sit down and gladly present facts and information in detail
                <input type="radio" name="speak" value="4"> <span class="checkmark"></span> </label>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="ml-sm-5 pl-sm-5 my-2">
        <div class="py-2 h5"><b>Q (x/y). What is most important for you in a work enviroment?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3 options">
            <label class="options">To help my co-workers and create a peaceful enviroment
                <input type="radio" name="work" value="1"> <span class="checkmark"></span> </label>
            <label class="options">To get work done and to see results
                <input type="radio" name="work" value="2"> <span class="checkmark"></span> </label>
            <label class="options">To get the admiration of my co-workers and peers
                <input type="radio" name="work" value="3"> <span class="checkmark"></span> </label>
            <label class="options">To know what is expected to be done by me and to finish each task before the next
                <input type="radio" name="work" value="4"> <span class="checkmark"></span> </label>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="ml-sm-5 pl-sm-5 my-2">
        <div class="py-2 h5"><b>Q (x/y). What would you do at an event with many people you have yet to met?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3 options">
            <label class="options">Find the group of people with whom I am comfortable with
                <input type="radio" name="work" value="1"> <span class="checkmark"></span> </label>
            <label class="options">Seek a good spot to observe the event and only talk if someone else approaches
                <input type="radio" name="work" value="2"> <span class="checkmark"></span> </label>
            <label class="options">Talk to the people I have to speak with to fulfill my purpose for attending
                <input type="radio" name="work" value="3"> <span class="checkmark"></span> </label>
            <label class="options">Meet and talk with as many people as possible before the event is over
                <input type="radio" name="work" value="4"> <span class="checkmark"></span> </label>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <button class="btn btn-lg btn-default" type="submit">Calculate results</button>
    </div>
</div>
</form>

{% endblock %}